body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.footer-background-color {
  background-color: #212529; /* Darker shade */
}

.socialspictures {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.3s;
}

.socialspictures:hover {
  transform: scale(1.1);
}

